* {
    font-family: 'Gamja Flower', sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: white;
}

h1 {
    font-size: 10vw;
}

#itemsInput {
    width: 80%;
    height: 100px;
    margin: 20px 0;
}

.spinButton {
    padding: 10% 20%;
    margin: 0 10px;
    border: 10px black;
}